Repository woowacourse-teams/2025-bottari, pull requests merged in 2025-09, with the labels that each got.

#516 [AN] UseCase 의존성 주입 모듈 분리
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/usecase/AlarmUseCaseProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/usecase/BottariItemUseCaseProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/usecase/BottariTemplateUseCaseProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/usecase/BottariUseCaseProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/usecase/CommonUseCaseProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/usecase/MemberUseCaseProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/usecase/TeamBottariItemUseCaseProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/usecase/TeamBottariUseCaseProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/usecase/TeamMemberUseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/UncheckTeamBottariItemUseCase.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/service/fcm/ReminderMessagingService.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/personal/ChecklistViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/checklist/TeamChecklistViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/member/TeamMembersStatusViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/status/TeamBottariStatusViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/report/ReportViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/create/BottariCreateViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/alarm/AlarmEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/item/PersonalItemEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/PersonalBottariEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/rename/BottariRenameViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/assigned/TeamAssignedItemEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/personal/TeamPersonalItemEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/shared/TeamSharedItemEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/main/TeamBottariEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/management/TeamManagementViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/more/MoreViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/personal/BottariViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/team/TeamBottariViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/template/TemplateViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/invite/InviteViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/join/TeamBottariJoinViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/main/MainViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/create/TemplateCreateViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/detail/TemplateDetailViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/my/MyTemplateViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/worker/NotificationWorker.kt
Labels: 🔨 Refactor, 🤖 Android

#531 [AN] Compose 개발 환경 설정
  android/Bottari/.editorconfig
  android/Bottari/build.gradle.kts
  android/Bottari/gradle/libs.versions.toml
  android/Bottari/presentation/build.gradle.kts
Labels: ⚙ Setting, 🤖 Android

#525 [AN] API 엔드포인트 분리
  android/Bottari/data/src/main/java/com/bottari/data/repository/TeamBottariItemsRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/TeamBottariRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/TeamMemberRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/TeamBottariItemsService.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/TeamBottariService.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/TeamMemberService.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/TeamBottariItemsRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/TeamBottariItemsRemoteDataSourceImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/TeamBottariRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/TeamBottariRemoteDataSourceImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/TeamMemberRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/TeamMemberRemoteDataSourceImpl.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/TeamBottariItemsRepositoryImplTest.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/TeamBottariRepositoryImplTest.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/TeamMemberRepositoryImplTest.kt
  android/Bottari/di/src/main/java/com/bottari/di/DataSourceProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/NetworkProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/RepositoryProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/usecase/TeamBottariItemsUseCaseProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/usecase/TeamMemberUseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/TeamBottariItemsRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/TeamBottariRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/TeamMemberRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/CheckTeamBottariItemUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/CreateTeamAssignedItemUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/CreateTeamPersonalItemUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/CreateTeamSharedItemUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/DeleteTeamBottariItemUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/FetchTeamAssignedItemsUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/FetchTeamBottariMembersUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/FetchTeamChecklistUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/FetchTeamMembersStatusUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/FetchTeamMembersUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/FetchTeamPersonalItemsUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/FetchTeamSharedItemsUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/FetchTeamStatusUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/JoinTeamBottariUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/SaveTeamBottariAssignedItemUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/SendRemindByItemUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/SendRemindByMemberMessageUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/UncheckTeamBottariItemUseCase.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/checklist/TeamChecklistViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/status/TeamBottariStatusViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/assigned/TeamAssignedItemEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/personal/TeamPersonalItemEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/shared/TeamSharedItemEditViewModel.kt
Labels: 🔨 Refactor, 🤖 Android

#547 [BE] 모니터링 툴 마이그레이션
  backend/bottari/build.gradle
  backend/bottari/src/main/resources/application-dev.yml
Labels: 💻 BackEnd

#550 [BE] 모니터링 툴 마이그레이션
  backend/bottari/src/main/resources/application-dev.yml
Labels: 💻 BackEnd

#553 [AN] 모두의 보따리 화면 컴포즈 마이그레이션
  android/Bottari/data/src/main/java/com/bottari/data/local/AppConfigDataStore.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/remote/bottari/template/BottariTemplateCursorFetchResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/remote/common/PageableRequest.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/remote/common/PageableResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/BottariTemplateRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/BottariTemplateService.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/BottariTemplateRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/BottariTemplateRemoteDataSourceImpl.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/BottariTemplateRepositoryImplTest.kt
  android/Bottari/di/src/main/java/com/bottari/di/usecase/BottariTemplateUseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/common/Pageable.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/BottariTemplateRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/template/FetchBottariTemplatesUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/template/SearchBottariTemplatesUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/template/TakeBottariTemplateDetailUseCase.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/common/component/BottariSearchBar.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/common/component/BottariTabBar.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/common/component/CollapsedListLine.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/common/extension/LazyListStateExtension.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/common/modifier/FadingEdge.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/common/modifier/NoRippleClickable.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/common/source/NoRippleInteractionSource.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/home/ComposeHomeActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/home/HomeBottomNavigationBar.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/home/HomeScreen.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/home/HomeTopAppBar.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/home/more/MoreBottariScreen.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/home/template/TemplateBottariScreen.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/home/template/TemplateUiEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/home/template/TemplateUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/home/template/TemplateViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/compose/home/template/component/TemplateItem.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/util/Debounce.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/template/TemplateFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/template/TemplateUiEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/template/TemplateUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/template/TemplateViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/detail/TemplateDetailViewModel.kt
Labels: ✨ Feature, 🤖 Android
