Repository woowacourse-teams/2025-bottari, pull requests merged in 2025-08, with the labels that each got.

#201 [AN] 나의 보따리 목록 비었을 때 화면 추가
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/BottariFragment.kt
  android/Bottari/presentation/src/main/res/drawable/ic_bottari.xml
  android/Bottari/presentation/src/main/res/layout/fragment_bottari.xml
  android/Bottari/presentation/src/main/res/layout/view_home_empty.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#207 [BE] 테스트 케이스 @Nested 사용 그룹화
  backend/bottari/src/main/java/com/bottari/controller/BottariController.java
  backend/bottari/src/test/java/com/bottari/controller/BottariTemplateControllerTest.java
  backend/bottari/src/test/java/com/bottari/domain/BottariTemplateTest.java
  backend/bottari/src/test/java/com/bottari/service/AlarmServiceTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariItemServiceTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariServiceTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariTemplateServiceTest.java
  backend/bottari/src/test/java/com/bottari/service/MemberServiceTest.java
Labels: ✅ Test, 🔨 Refactor, 💻 BackEnd

#215 [BE] 사용자 확인 API 응답에 memberId 필드 추가
  backend/bottari/src/main/java/com/bottari/dto/CheckRegistrationResponse.java
  backend/bottari/src/main/java/com/bottari/service/MemberService.java
  backend/bottari/src/test/java/com/bottari/controller/MemberControllerTest.java
  backend/bottari/src/test/java/com/bottari/service/MemberServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#206 [AN] 권한 요청 플로우 개선
  android/Bottari/app/build.gradle.kts
  android/Bottari/app/src/main/AndroidManifest.xml
  android/Bottari/app/src/main/java/com/bottari/bottari/BottariApplication.kt
  android/Bottari/app/src/main/java/com/bottari/bottari/view/MainActivity.kt
  android/Bottari/app/src/main/java/com/bottari/bottari/view/MainUiEvent.kt
  android/Bottari/app/src/main/java/com/bottari/bottari/view/MainUiState.kt
  android/Bottari/data/src/main/java/com/bottari/data/local/AppConfigDataStore.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/AppConfigRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/BottariRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/local/AppConfigDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/local/AppConfigLocalDataSourceImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/BottariRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/BottariRemoteDataSourceImpl.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/AppConfigRepositoryImplTest.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/BottariRepositoryImplTest.kt
  android/Bottari/di/src/main/java/com/bottari/di/ApplicationContextProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/DataSourceProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/DataStoreProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/RepositoryProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/AppConfigRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/BottariRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/appConfig/GetPermissionFlagUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/appConfig/SavePermissionFlagUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/bottariDetail/FetchBottariDetailUseCase.kt
  android/Bottari/presentation/src/main/AndroidManifest.xml
  android/Bottari/presentation/src/main/java/com/bottari/presentation/util/PermissionUtil.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/PermissionDescriptionDialog.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/alart/DialogPresetType.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/PersonalBottariEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/PersonalBottariEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/rename/BottariRenameViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/main/MainActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/main/MainUiEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/main/MainUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/main/MainViewModel.kt
  android/Bottari/presentation/src/main/res/drawable/bg_gray_oval.xml
  android/Bottari/presentation/src/main/res/drawable/iv_alarm.xml
  android/Bottari/presentation/src/main/res/drawable/iv_location.xml
  android/Bottari/presentation/src/main/res/drawable/iv_notification.xml
  android/Bottari/presentation/src/main/res/layout/activity_main.xml
  android/Bottari/presentation/src/main/res/layout/dialog_permission_description.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#211 [AN] 모두의 보따리 등록 플로우 구현
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/build.gradle.kts
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/bottari/FetchBottariDetailsUseCase.kt
  android/Bottari/gradle/libs.versions.toml
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/base/BaseFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/listener/OnItemClickListener.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/mapper/BottariMapper.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/MyBottariUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/decoration/BottomPaddingDecoration.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/decoration/ItemSpacingDecoration.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/decoration/SideSpaceItemDecoration.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/alarm/AlarmEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/PersonalBottariEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/HomeActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/BottariFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/template/TemplateFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/template/TemplateUiEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/template/TemplateUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/template/TemplateViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/template/adapter/TemplateAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/template/adapter/TemplateViewHolder.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/template/listener/OnTemplateClickListener.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/TemplateActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/TemplateDestinationType.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/create/TemplateCreateFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/create/TemplateCreateUiEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/create/TemplateCreateUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/create/TemplateCreateViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/create/adapter/TemplateCreateMyBottariAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/create/adapter/TemplateCreateMyBottariItemAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/create/adapter/TemplateCreateMyBottariItemViewHolder.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/create/adapter/TemplateCreateMyBottariViewHolder.kt
  android/Bottari/presentation/src/main/res/layout/activity_template_detail.xml
  android/Bottari/presentation/src/main/res/layout/fragment_template.xml
  android/Bottari/presentation/src/main/res/layout/fragment_template_create.xml
  android/Bottari/presentation/src/main/res/layout/item_template_create_my_bottari.xml
  android/Bottari/presentation/src/main/res/layout/view_template_create_empty.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#179 [BE] 디버깅 및 문제 분석을 위한 애플리케이션 로그 출력
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto-close-issues-on-pr-merge.yaml
  .github/workflows/auto-reviewers-on-pr-labeled.yaml
  backend/bottari/build.gradle
  backend/bottari/src/main/java/com/bottari/GlobalExceptionHandler.java
  backend/bottari/src/main/java/com/bottari/log/HttpLoggingFilter.java
  backend/bottari/src/main/java/com/bottari/log/LogFormatter.java
  backend/bottari/src/main/java/com/bottari/log/entry/BusinessExceptionLogEntry.java
  backend/bottari/src/main/java/com/bottari/log/entry/ExceptionLogEntry.java
  backend/bottari/src/main/java/com/bottari/log/entry/HttpLogEntry.java
  backend/bottari/src/main/resources/appender/console-appender.xml
  backend/bottari/src/main/resources/appender/file-business-exception-log-appender.xml
  backend/bottari/src/main/resources/appender/file-exception-log-appender.xml
  backend/bottari/src/main/resources/appender/file-http-log-appender.xml
  backend/bottari/src/main/resources/logback-spring.xml
  backend/bottari/src/test/java/com/bottari/controller/AlarmControllerTest.java
  backend/bottari/src/test/java/com/bottari/controller/BottariControllerTest.java
  backend/bottari/src/test/java/com/bottari/controller/BottariItemControllerTest.java
  backend/bottari/src/test/java/com/bottari/controller/BottariTemplateControllerTest.java
  backend/bottari/src/test/java/com/bottari/controller/HealthCheckControllerTest.java
  backend/bottari/src/test/java/com/bottari/controller/MemberControllerTest.java
  backend/bottari/src/test/resources/application.yml
Labels: ✨ Feature, 💻 BackEnd

#209 [AN] 스와이프 체크리스트 화면 개선
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/ChecklistUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/ChecklistViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/swipe/SwipeChecklistFragment.kt
  android/Bottari/presentation/src/main/res/drawable/bg_gray_c4_radius_16dp.xml
  android/Bottari/presentation/src/main/res/drawable/ic_swipe_all_checked.xml
  android/Bottari/presentation/src/main/res/drawable/ic_swipe_checked.xml
  android/Bottari/presentation/src/main/res/drawable/ic_swipe_not_all_checked.xml
  android/Bottari/presentation/src/main/res/drawable/ic_swipe_not_checked.xml
  android/Bottari/presentation/src/main/res/layout/fragment_swipe_checklist.xml
  android/Bottari/presentation/src/main/res/layout/item_swipe_checklist.xml
  android/Bottari/presentation/src/main/res/layout/view_left_swipe.xml
  android/Bottari/presentation/src/main/res/layout/view_right_swipe.xml
  android/Bottari/presentation/src/main/res/layout/view_swipe_complete_all.xml
  android/Bottari/presentation/src/main/res/layout/view_swipe_complete_not_all.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#219 [AN] Firebase Crashlytics 설정
  .github/workflows/android-ci.yaml
  android/Bottari/app/build.gradle.kts
  android/Bottari/app/proguard-rules.pro
  android/Bottari/build.gradle.kts
  android/Bottari/data/src/main/java/com/bottari/data/local/UserInfoDataStore.kt
  android/Bottari/data/src/main/java/com/bottari/data/mapper/MemberMapper.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/member/CheckRegisteredMemberResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/MemberRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/local/UserInfoLocalDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/local/UserInfoLocalDataSourceImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/MemberRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/MemberRemoteDataSourceImpl.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/MemberRepositoryImplTest.kt
  android/Bottari/di/src/main/java/com/bottari/di/DataSourceProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/DataStoreProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/RepositoryProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/member/RegisteredMember.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/MemberRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/member/RegisterMemberUseCase.kt
  android/Bottari/gradle/libs.versions.toml
  android/Bottari/presentation/build.gradle.kts
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/base/BaseActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/base/BaseFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/util/CrashlyticsLogger.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/main/MainViewModel.kt
Labels: ✨ Feature, 🤖 Android

#212 [BE] 일관된 에러 처리 및 진단을 위한 에러 코드 체계 구축
  backend/bottari/src/main/java/com/bottari/config/SwaggerConfig.java
  backend/bottari/src/main/java/com/bottari/controller/docs/AlarmApiDocs.java
  backend/bottari/src/main/java/com/bottari/controller/docs/BottariApiDocs.java
  backend/bottari/src/main/java/com/bottari/controller/docs/BottariItemApiDocs.java
  backend/bottari/src/main/java/com/bottari/controller/docs/BottariTemplateApiDocs.java
  backend/bottari/src/main/java/com/bottari/controller/docs/MemberApiDocs.java
  backend/bottari/src/main/java/com/bottari/controller/docs/ReportApiDocs.java
  backend/bottari/src/main/java/com/bottari/domain/Alarm.java
  backend/bottari/src/main/java/com/bottari/domain/Bottari.java
  backend/bottari/src/main/java/com/bottari/domain/BottariItem.java
  backend/bottari/src/main/java/com/bottari/domain/BottariTemplate.java
  backend/bottari/src/main/java/com/bottari/domain/BottariTemplateCursor.java
  backend/bottari/src/main/java/com/bottari/domain/BottariTemplateItem.java
  backend/bottari/src/main/java/com/bottari/domain/Member.java
  backend/bottari/src/main/java/com/bottari/domain/SortProperty.java
  backend/bottari/src/main/java/com/bottari/error/ApiErrorCodes.java
  backend/bottari/src/main/java/com/bottari/error/BusinessException.java
  backend/bottari/src/main/java/com/bottari/error/ErrorCode.java
  backend/bottari/src/main/java/com/bottari/error/ErrorCodeOperationCustomizer.java
  backend/bottari/src/main/java/com/bottari/error/GlobalExceptionHandler.java
  backend/bottari/src/main/java/com/bottari/service/AlarmService.java
  backend/bottari/src/main/java/com/bottari/service/BottariItemService.java
  backend/bottari/src/main/java/com/bottari/service/BottariService.java
  backend/bottari/src/main/java/com/bottari/service/BottariTemplateService.java
  backend/bottari/src/main/java/com/bottari/service/MemberService.java
  backend/bottari/src/main/java/com/bottari/service/ReportService.java
  backend/bottari/src/test/java/com/bottari/domain/AlarmTest.java
  backend/bottari/src/test/java/com/bottari/domain/BottariItemTest.java
  backend/bottari/src/test/java/com/bottari/domain/BottariTemplateCursorTest.java
  backend/bottari/src/test/java/com/bottari/domain/BottariTemplateItemTest.java
  backend/bottari/src/test/java/com/bottari/domain/BottariTemplateTest.java
  backend/bottari/src/test/java/com/bottari/domain/BottariTest.java
  backend/bottari/src/test/java/com/bottari/domain/MemberTest.java
  backend/bottari/src/test/java/com/bottari/domain/SortPropertyTest.java
  backend/bottari/src/test/java/com/bottari/service/AlarmServiceTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariItemServiceTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariServiceTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariTemplateServiceTest.java
  backend/bottari/src/test/java/com/bottari/service/MemberServiceTest.java
  backend/bottari/src/test/java/com/bottari/service/ReportServiceTest.java
Labels: 📃 Docs, ✨ Feature, 💻 BackEnd

#216 [BE] 테스트 코드 가독성 및 생산성 향상을 위한 테스트 픽스쳐 추가
  backend/bottari/src/test/java/com/bottari/service/AlarmServiceTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariItemServiceTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariServiceTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariTemplateServiceTest.java
  backend/bottari/src/test/java/com/bottari/service/fixture/AlarmFixture.java
  backend/bottari/src/test/java/com/bottari/service/fixture/BottariFixture.java
  backend/bottari/src/test/java/com/bottari/service/fixture/BottariItemFixture.java
  backend/bottari/src/test/java/com/bottari/service/fixture/BottariTemplateFixture.java
  backend/bottari/src/test/java/com/bottari/service/fixture/BottariTemplateItemFixture.java
  backend/bottari/src/test/java/com/bottari/service/fixture/LocationAlarmFixture.java
  backend/bottari/src/test/java/com/bottari/service/fixture/MemberFixture.java
  backend/bottari/src/test/java/com/bottari/service/fixture/RoutineAlarmFixture.java
Labels: ✅ Test, 🔨 Refactor, 💻 BackEnd

#239 [AN] 모두의 보따리 등록 시 빈 제목으로 요청하는 문제 수정
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/create/TemplateCreateUiState.kt
Labels: 🐞 BugFix, 🤖 Android

#260 [BE] PR 디스코드 알람 시, 메시지 본문 커맨드 인식 오류 수정
  .github/workflows/pr-notification.yml
Labels: 🐞 BugFix, 💻 BackEnd

#254 [BE] 개인 보따리 체크 시, 본인 확인
  backend/bottari/src/main/java/com/bottari/bottari/controller/BottariItemApiDocs.java
  backend/bottari/src/main/java/com/bottari/bottari/controller/BottariItemController.java
  backend/bottari/src/main/java/com/bottari/bottari/domain/BottariItem.java
  backend/bottari/src/main/java/com/bottari/bottari/repository/BottariItemRepository.java
  backend/bottari/src/main/java/com/bottari/bottari/service/BottariItemService.java
  backend/bottari/src/main/java/com/bottari/error/ErrorCode.java
  backend/bottari/src/test/java/com/bottari/bottari/controller/BottariItemControllerTest.java
  backend/bottari/src/test/java/com/bottari/bottari/domain/BottariItemTest.java
  backend/bottari/src/test/java/com/bottari/bottari/service/BottariItemServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#258 [BE] 팀 보따리 관련 엔티티 설계
  backend/bottari/src/main/java/com/bottari/error/ErrorCode.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamAssignedItem.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamAssignedItemInfo.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamBottari.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamMember.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamPersonalItem.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamSharedItem.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamSharedItemInfo.java
  backend/bottari/src/test/java/com/bottari/fixture/TeamBottariFixture.java
  backend/bottari/src/test/java/com/bottari/teambottari/domain/TeamAssignedItemInfoTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/domain/TeamBottariTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/domain/TeamPersonalItemTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/domain/TeamSharedItemInfoTest.java
Labels: ✨ Feature, 💻 BackEnd

#266 [BE] 보따리 체크 시 정상적인 보따리를 찾을 수 없던 버그 수정
  backend/bottari/src/main/java/com/bottari/bottari/repository/BottariItemRepository.java
Labels: 🐞 BugFix, 💻 BackEnd

#247 [AN] 모두의 보따리 신고 기능 구현
  android/Bottari/data/src/main/java/com/bottari/data/repository/ReportRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/ReportService.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/ReportRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/ReportRemoteDataSourceImpl.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/ReportRepositoryImplTest.kt
  android/Bottari/di/src/main/java/com/bottari/di/DataSourceProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/RepositoryProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/ServiceProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/ReportRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/report/ReportTemplateUseCase.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/base/BaseFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/extension/SnackbarExt.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/main/MainChecklistFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/swipe/SwipeChecklistFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/report/ReportDialog.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/report/ReportUiEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/report/ReportUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/report/ReportViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/alarm/AlarmEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/item/PersonalItemEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/PersonalBottariEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/BottariFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/profile/ProfileFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/template/TemplateFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/main/MainActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/create/TemplateCreateFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/detail/TemplateDetailFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/detail/TemplateDetailViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/my/MyTemplateFragment.kt
  android/Bottari/presentation/src/main/res/color/ratio_button_selector.xml
  android/Bottari/presentation/src/main/res/layout/dialog_report.xml
  android/Bottari/presentation/src/main/res/layout/fragment_template_detail.xml
  android/Bottari/presentation/src/main/res/layout/view_bottari_item_empty.xml
  android/Bottari/presentation/src/main/res/menu/template_popup_menu.xml
  android/Bottari/presentation/src/main/res/values/colors.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#263 [AN] 보따리 내의 물품이 없을 때 스와이프 아이콘 미노출
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/ChecklistActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/main/MainChecklistFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/swipe/SwipeChecklistFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/my/MyTemplateFragment.kt
  android/Bottari/presentation/src/main/res/layout/fragment_my_template.xml
Labels: 🐞 BugFix, 🤖 Android

#267 [AN] BottariLogger 구현
  android/Bottari/app/build.gradle.kts
  android/Bottari/app/src/main/java/com/bottari/bottari/BottariApplication.kt
  android/Bottari/data/build.gradle.kts
  android/Bottari/data/src/main/java/com/bottari/data/common/util/PrettyJsonLogger.kt
  android/Bottari/data/src/main/java/com/bottari/data/common/util/SafeApiCall.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/MemberRepositoryImpl.kt
  android/Bottari/di/src/main/java/com/bottari/di/AnalyticsUserIdProvider.kt
  android/Bottari/logger/.gitignore
  android/Bottari/logger/build.gradle.kts
  android/Bottari/logger/consumer-rules.pro
  android/Bottari/logger/proguard-rules.pro
  android/Bottari/logger/src/main/AndroidManifest.xml
  android/Bottari/logger/src/main/java/com/bottari/logger/BottariLogger.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/BottariTree.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/CallerInfo.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/LogLevel.kt
  android/Bottari/presentation/build.gradle.kts
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/base/BaseActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/base/BaseFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/util/CrashlyticsLogger.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/main/MainViewModel.kt
  android/Bottari/settings.gradle.kts
Labels: ✨ Feature, 🤖 Android

#262 [AN] 체크리스트 아이템 없을 경우의 EmptyView 생성
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/ChecklistActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/ChecklistUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/ChecklistViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/main/MainChecklistFragment.kt
  android/Bottari/presentation/src/main/res/layout/fragment_checklist.xml
  android/Bottari/presentation/src/main/res/layout/view_checklist_empty.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#271 [AN] Analytics & Crashlytics을 위한 Logger 적용
  android/Bottari/app/proguard-rules.pro
  android/Bottari/data/proguard-rules.pro
  android/Bottari/di/proguard-rules.pro
  android/Bottari/logger/proguard-rules.pro
  android/Bottari/logger/src/main/java/com/bottari/logger/BottariLogger.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/BottariTree.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/LogEventHelper.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/handler/AnalyticsLogHandler.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/handler/ConsoleLogHandler.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/handler/CrashlyticsLogHandler.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/handler/LogHandler.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/model/CallerInfo.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/model/LogEventData.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/model/LogLevel.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/model/UiEventType.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/policy/DefaultLogPolicy.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/policy/LogPolicy.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/util/BundleExt.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/util/FirebaseAnalyticsExt.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/base/BaseActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/base/BaseFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/base/BaseViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/extension/LiveDataExtension.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/receiver/AlarmReceiver.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/ChecklistActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/ChecklistViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/PermissionDescriptionDialog.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/alart/CustomAlertDialog.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/report/ReportDialog.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/report/ReportViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/alarm/AlarmEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/item/PersonalItemEditUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/item/PersonalItemEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/PersonalBottariEditUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/PersonalBottariEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/rename/BottariRenameDialog.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/rename/BottariRenameUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/rename/BottariRenameViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/BottariViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/create/BottariCreateDialog.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/create/BottariCreateViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/profile/ProfileViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/template/TemplateViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/main/MainViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/create/TemplateCreateViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/detail/TemplateDetailViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/my/MyTemplateViewModel.kt
Labels: 🔨 Refactor, ✨ Feature, 🤖 Android

#286 [AN] 알람 ID를 식별하지 못하는 문제
  android/Bottari/presentation/src/main/java/com/bottari/presentation/receiver/AlarmReceiver.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/util/AlarmScheduler.kt
Labels: 🐞 BugFix, 🤖 Android

#282 [BE] Soft Delete 기반 데이터 삭제 기능 구현
  backend/bottari/src/main/java/com/bottari/bottari/domain/Bottari.java
  backend/bottari/src/main/java/com/bottari/bottari/domain/BottariItem.java
  backend/bottari/src/main/java/com/bottari/bottari/repository/BottariItemRepository.java
  backend/bottari/src/main/java/com/bottari/bottaritemplate/domain/BottariTemplate.java
  backend/bottari/src/main/java/com/bottari/bottaritemplate/domain/BottariTemplateItem.java
  backend/bottari/src/main/java/com/bottari/bottaritemplate/repository/BottariTemplateItemRepository.java
  backend/bottari/src/main/java/com/bottari/member/domain/Member.java
  backend/bottari/src/main/java/com/bottari/report/domain/Report.java
  backend/bottari/src/test/java/com/bottari/bottari/repository/BottariDeleteTest.java
  backend/bottari/src/test/java/com/bottari/bottari/repository/BottariItemDeleteTest.java
  backend/bottari/src/test/java/com/bottari/bottari/service/BottariServiceTest.java
  backend/bottari/src/test/java/com/bottari/bottaritemplate/repository/BottariTemplateDeleteTest.java
  backend/bottari/src/test/java/com/bottari/bottaritemplate/repository/BottariTemplateItemDeleteTest.java
  backend/bottari/src/test/java/com/bottari/bottaritemplate/service/BottariTemplateServiceTest.java
  backend/bottari/src/test/java/com/bottari/member/repository/MemberDeleteTest.java
  backend/bottari/src/test/java/com/bottari/report/repository/ReportDeleteTest.java
Labels: ✨ Feature, 💻 BackEnd

#300 [AN] 내가 등록한 보따리 화면 Empty View 구현
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/my/MyTemplateFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/my/MyTemplateUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/template/my/MyTemplateViewModel.kt
  android/Bottari/presentation/src/main/res/layout/fragment_my_template.xml
  android/Bottari/presentation/src/main/res/layout/view_my_template_empty.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#337 [AN] 팀원 관리 화면 구현
  android/Bottari/data/src/main/java/com/bottari/data/mapper/NicknameMapper.kt
  android/Bottari/data/src/main/java/com/bottari/data/mapper/TeamMembersMapper.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/team/TeamMembersResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/MemberRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/TeamBottariRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/TeamBottariService.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/TeamBottariRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/TeamBottariRemoteDataSourceImpl.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/MemberRepositoryImplTest.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/ReportRepositoryImplTest.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/TeamBottariRepositoryImplTest.kt
  android/Bottari/data/src/test/java/com/bottari/data/testFixture/MemberFixture.kt
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/member/Member.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/member/Nickname.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/team/HeadCount.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/team/TeamMembers.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/MemberRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/TeamBottariRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/member/SaveMemberNicknameUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/FetchTeamMembersUseCase.kt
  android/Bottari/domain/src/test/java/com/bottari/domain/model/HeadCountTest.kt
  android/Bottari/domain/src/test/java/com/bottari/domain/model/MemberTest.kt
  android/Bottari/domain/src/test/java/com/bottari/domain/model/NicknameTest.kt
  android/Bottari/logger/src/main/java/com/bottari/logger/model/UiEventType.kt
  android/Bottari/presentation/src/main/AndroidManifest.xml
  android/Bottari/presentation/src/main/java/com/bottari/presentation/mapper/TeamMembersMapper.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/TeamMemberUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/TeamBottariEditActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/management/TeamManagementFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/management/TeamManagementUiEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/management/TeamManagementUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/management/TeamManagementViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/management/adapter/TeamMemberAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/management/adapter/TeamMemberViewHolder.kt
  android/Bottari/presentation/src/main/res/drawable/btn_clipboard.xml
  android/Bottari/presentation/src/main/res/drawable/ic_host.xml
  android/Bottari/presentation/src/main/res/layout/activity_team_bottari_edit.xml
  android/Bottari/presentation/src/main/res/layout/fragment_team_management.xml
  android/Bottari/presentation/src/main/res/layout/item_team_member.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
  android/Bottari/presentation/src/test/java/com/bottari/presentation/CoroutinesTestExtension.kt
  android/Bottari/presentation/src/test/java/com/bottari/presentation/InstantTaskExecutorExtension.kt
  android/Bottari/presentation/src/test/java/com/bottari/presentation/fixture/TeamMembersFixture.kt
  android/Bottari/presentation/src/test/java/com/bottari/presentation/view/edit/team/management/TeamManagementViewModelTest.kt
Labels: ✨ Feature, 🤖 Android

#328 [BE] 팀 보따리 체크 리스트 구현
  backend/bottari/src/main/java/com/bottari/error/ErrorCode.java
  backend/bottari/src/main/java/com/bottari/teambottari/controller/TeamBottariItemApiDocs.java
  backend/bottari/src/main/java/com/bottari/teambottari/controller/TeamBottariItemController.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamAssignedItem.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamItemType.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamMember.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamPersonalItem.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamSharedItem.java
  backend/bottari/src/main/java/com/bottari/teambottari/dto/CheckTeamItemRequest.java
  backend/bottari/src/main/java/com/bottari/teambottari/dto/TeamMemberChecklistResponse.java
  backend/bottari/src/main/java/com/bottari/teambottari/dto/TeamMemberItemResponse.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamAssignedItemRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamMemberRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamPersonalItemRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamSharedItemRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/TeamAssignedItemService.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/TeamItemFacade.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/TeamPersonalItemService.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/TeamSharedItemService.java
  backend/bottari/src/test/java/com/bottari/teambottari/controller/TeamBottariItemControllerTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/domain/TeamAssignedItemInfoTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/domain/TeamPersonalItemTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/domain/TeamSharedItemInfoTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/service/TeamAssignedItemServiceTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/service/TeamItemFacadeTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/service/TeamPersonalItemServiceTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/service/TeamSharedItemServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#345 [AN] 알람이 생성되지 않는 문제 해결
  android/Bottari/app/build.gradle.kts
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/alarm/AlarmEditViewModel.kt
Labels: 🐞 BugFix, 🤖 Android

#333 [BE] 내 팀 보따리 목록 조회 기능 구현
  backend/bottari/src/main/java/com/bottari/teambottari/controller/TeamBottariApiDocs.java
  backend/bottari/src/main/java/com/bottari/teambottari/controller/TeamBottariController.java
  backend/bottari/src/main/java/com/bottari/teambottari/controller/TeamMemberApiDocs.java
  backend/bottari/src/main/java/com/bottari/teambottari/dto/ReadTeamBottariPreviewResponse.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamAssignedItemRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamMemberRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamPersonalItemRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamSharedItemRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/dto/TeamBottariMemberCountProjection.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/TeamBottariService.java
  backend/bottari/src/test/java/com/bottari/teambottari/controller/TeamBottariControllerTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/service/TeamBottariServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#344 [BE] FCM 토큰 저장/업데이트 로직 구현
  .github/workflows/deploy-dev-server.yml
  .github/workflows/deploy-prod-server.yml
  backend/bottari/build.gradle
  backend/bottari/src/main/java/com/bottari/config/FirebaseConfig.java
  backend/bottari/src/main/java/com/bottari/error/ErrorCode.java
  backend/bottari/src/main/java/com/bottari/fcm/controller/FcmTokenApiDocs.java
  backend/bottari/src/main/java/com/bottari/fcm/controller/FcmTokenController.java
  backend/bottari/src/main/java/com/bottari/fcm/domain/FcmToken.java
  backend/bottari/src/main/java/com/bottari/fcm/dto/UpdateFcmRequest.java
  backend/bottari/src/main/java/com/bottari/fcm/repository/FcmTokenRepository.java
  backend/bottari/src/main/java/com/bottari/fcm/service/FcmTokenService.java
  backend/bottari/src/main/java/com/bottari/member/dto/CreateMemberRequest.java
  backend/bottari/src/main/java/com/bottari/member/service/MemberService.java
  backend/bottari/src/main/resources/application-dev.yml
  backend/bottari/src/main/resources/application-prod.yml
  backend/bottari/src/main/resources/application.yml
  backend/bottari/src/test/java/com/bottari/BottariApplicationTests.java
  backend/bottari/src/test/java/com/bottari/fcm/controller/FcmTokenControllerTest.java
  backend/bottari/src/test/java/com/bottari/fcm/domain/FcmTokenTest.java
  backend/bottari/src/test/java/com/bottari/fcm/service/FcmTokenServiceTest.java
  backend/bottari/src/test/java/com/bottari/fixture/FcmTokenFixture.java
  backend/bottari/src/test/java/com/bottari/member/controller/MemberControllerTest.java
  backend/bottari/src/test/java/com/bottari/member/service/MemberServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#359 [BE] 중복된 메서드 제거로 충돌 해결
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamSharedItemRepository.java
  backend/bottari/src/test/java/com/bottari/teambottari/service/TeamItemFacadeTest.java
Labels: 🐞 BugFix, 💻 BackEnd

#371 [AN] CI 워크플로우 캐싱 도입으로 속도 개선
  .github/workflows/android-ci.yaml
Labels: ⚙ Setting, ⚡️ Performance, 🤖 Android

#373 [AN] 사용자 등록 시 FCM 토큰 전달
  android/Bottari/data/src/main/java/com/bottari/data/model/member/RegisterMemberRequest.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/MemberRepositoryImpl.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/MemberRepositoryImplTest.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/MemberRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/member/RegisterMemberUseCase.kt
  android/Bottari/gradle/libs.versions.toml
  android/Bottari/presentation/build.gradle.kts
  android/Bottari/presentation/src/main/AndroidManifest.xml
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/main/MainViewModel.kt
Labels: ✨ Feature, 🤖 Android

#361 [BE] 팀 보따리 초대 코드로 팀 보따리 참여 기능 구현
  backend/bottari/src/main/java/com/bottari/error/ErrorCode.java
  backend/bottari/src/main/java/com/bottari/teambottari/controller/TeamMemberApiDocs.java
  backend/bottari/src/main/java/com/bottari/teambottari/controller/TeamMemberController.java
  backend/bottari/src/main/java/com/bottari/teambottari/dto/JoinTeamBottariRequest.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamBottariRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamMemberRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/TeamMemberService.java
  backend/bottari/src/test/java/com/bottari/teambottari/controller/TeamMemberControllerTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/service/TeamMemberServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#365 [BE] 팀 보따리 물품 추가 및 삭제 기능 구현
  backend/bottari/src/main/java/com/bottari/error/ErrorCode.java
  backend/bottari/src/main/java/com/bottari/teambottari/controller/TeamBottariItemApiDocs.java
  backend/bottari/src/main/java/com/bottari/teambottari/controller/TeamBottariItemController.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamAssignedItem.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamPersonalItem.java
  backend/bottari/src/main/java/com/bottari/teambottari/domain/TeamSharedItemInfo.java
  backend/bottari/src/main/java/com/bottari/teambottari/dto/CreateTeamAssignedItemRequest.java
  backend/bottari/src/main/java/com/bottari/teambottari/dto/CreateTeamItemRequest.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamAssignedItemInfoRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamAssignedItemRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamMemberRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamPersonalItemRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamSharedItemInfoRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamSharedItemRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/TeamAssignedItemService.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/TeamItemFacade.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/TeamPersonalItemService.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/TeamSharedItemService.java
  backend/bottari/src/main/resources/data.sql
  backend/bottari/src/test/java/com/bottari/teambottari/controller/TeamBottariItemControllerTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/service/TeamAssignedItemServiceTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/service/TeamItemFacadeTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/service/TeamPersonalItemServiceTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/service/TeamSharedItemServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#392 [AN] 알람 편집 화면 위치 설정 Gone 처리 | Release v1.0.4
  android/Bottari/app/build.gradle.kts
  android/Bottari/presentation/src/main/res/layout/fragment_alarm_edit.xml
Labels: 🌏 Deploy, 🤖 Android

#390 [BE] 팀 보따리 멤버 별 보채기 기능 구현
  backend/bottari/src/main/java/com/bottari/bottari/domain/Bottari.java
  backend/bottari/src/main/java/com/bottari/error/ErrorCode.java
  backend/bottari/src/main/java/com/bottari/fcm/FcmMessageConverter.java
  backend/bottari/src/main/java/com/bottari/fcm/dto/MessageType.java
  backend/bottari/src/main/java/com/bottari/member/domain/Member.java
  backend/bottari/src/main/java/com/bottari/teambottari/controller/TeamMemberApiDocs.java
  backend/bottari/src/main/java/com/bottari/teambottari/controller/TeamMemberController.java
  backend/bottari/src/main/java/com/bottari/teambottari/dto/ReadTeamMemberStatusResponse.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/TeamMemberService.java
  backend/bottari/src/test/java/com/bottari/teambottari/controller/TeamMemberControllerTest.java
  backend/bottari/src/test/java/com/bottari/teambottari/service/TeamMemberServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#393 [AN] 팀 보따리 체크리스트 화면 뒤로가기 동작 수정
  android/Bottari/presentation/src/main/java/com/bottari/presentation/service/fcm/ReminderMessagingService.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/personal/ChecklistActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/TeamChecklistActivity.kt
Labels: 🐞 BugFix, 🤖 Android

#377 [AN] 팀 보따리 현황 구현
  android/Bottari/data/src/main/java/com/bottari/data/mapper/TeamBottariMapper.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/team/FetchTeamBottariStatusResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/team/MemberCheckStatusResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/team/TeamProductStatusResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/TeamBottariRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/TeamBottariService.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/TeamBottariRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/TeamBottariRemoteDataSourceImpl.kt
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/team/MemberCheckStatus.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/team/TeamBottariProductStatus.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/team/TeamBottariStatus.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/TeamBottariRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/FetchTeamStatusUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/SendRemindByItemUseCase.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/mapper/TeamBottariMapper.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/BottariItemTypeUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/MemberCheckStatusUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/TeamChecklistItem.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/TeamProductStatusItem.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/service/fcm/ReminderMessagingService.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/checklist/TeamChecklistViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/checklist/adapter/TeamChecklistFragmentAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/checklist/adapter/TeamChecklistItemAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/checklist/adapter/TeamChecklistTypeViewHolder.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/member/TeamMembersStatusFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/member/adapter/TeamMemberStatusAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/member/adapter/TeamMemberStatusViewHolder.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/status/TeamBottariStatusFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/status/TeamBottariStatusUiEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/status/TeamBottariStatusUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/status/TeamBottariStatusViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/status/adapter/TeamBottariProductStatusAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/status/adapter/TeamBottariProductStatusDetailAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/status/adapter/TeamBottariProductStatusDetailViewHolder.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/status/adapter/TeamBottariProductStatusViewHolder.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/status/adapter/TeamBottariProductTypeViewHolder.kt
  android/Bottari/presentation/src/main/res/drawable/bg_white_radius_12dp_dotted_border.xml
  android/Bottari/presentation/src/main/res/drawable/bg_white_radius_12dp_primary_boder.xml
  android/Bottari/presentation/src/main/res/layout/fragment_personal_bottari_edit.xml
  android/Bottari/presentation/src/main/res/layout/fragment_team_status.xml
  android/Bottari/presentation/src/main/res/layout/item_team_bottari_item_status.xml
  android/Bottari/presentation/src/main/res/layout/item_team_bottari_type.xml
  android/Bottari/presentation/src/main/res/layout/view_edit_alarm_empty.xml
  android/Bottari/presentation/src/main/res/layout/view_edit_item_empty.xml
  android/Bottari/presentation/src/main/res/values/font_style.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#400 [AN] 사용자 식별자 조회 기능 구현
  android/Bottari/data/src/main/java/com/bottari/data/repository/MemberRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/local/MemberIdentifierLocalDataSourceImpl.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/MemberRepositoryImplTest.kt
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/MemberRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/member/GetMemberIdentifierUseCase.kt
Labels: ✨ Feature, 🤖 Android

#405 [AN] 안드로이드 CI 속도 개선
  .github/workflows/android-ci.yaml
  .github/workflows/android-pr-ci.yaml
Labels: ⚡️ Performance, 🤖 Android

#412 [AN] 팀 보따리 공통 물품 수정 화면 구현
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/personal/TeamPersonalItemEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/shared/TeamSharedItemEditEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/shared/TeamSharedItemEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/shared/TeamSharedItemEditUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/shared/TeamSharedItemEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/shared/adapter/TeamSharedItemEditAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/shared/adapter/TeamSharedItemEditViewHolder.kt
  android/Bottari/presentation/src/main/res/layout/fragment_team_shared_item_edit.xml
Labels: ✨ Feature, 🤖 Android

#410 [AN] 앱 링크 처리
  android/Bottari/data/src/main/java/com/bottari/data/model/team/JoinTeamBottariRequest.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/TeamBottariRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/TeamBottariService.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/TeamBottariRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/TeamBottariRemoteDataSourceImpl.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/TeamBottariRepositoryImplTest.kt
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/TeamBottariRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/JoinTeamBottariUseCase.kt
  android/Bottari/presentation/build.gradle.kts
  android/Bottari/presentation/src/main/AndroidManifest.xml
  android/Bottari/presentation/src/main/java/com/bottari/presentation/mapper/TeamMembersMapper.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/util/DeeplinkHelper.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/management/TeamManagementFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/HomeActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/invite/InviteActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/invite/InviteUiEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/invite/InviteUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/invite/InviteViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/main/MainActivity.kt
  android/Bottari/presentation/src/main/res/layout/activity_invite.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#421 [BE] 팀 보따리 공통 물품 추가/삭제 시, 이벤트 발행 및 SSE 전송 기능 구현
  backend/bottari/src/main/java/com/bottari/sse/component/TeamBottariEventListener.java
  backend/bottari/src/main/java/com/bottari/sse/dto/CreateTeamSharedItemData.java
  backend/bottari/src/main/java/com/bottari/sse/dto/DeleteTeamSharedItemData.java
  backend/bottari/src/main/java/com/bottari/teambottari/event/CreateTeamSharedItemEvent.java
  backend/bottari/src/main/java/com/bottari/teambottari/event/DeleteTeamSharedItemEvent.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/TeamSharedItemService.java
Labels: ✨ Feature, 💻 BackEnd

#429 [AN] 팀 보따리 참가 기능 구현
  android/Bottari/logger/src/main/java/com/bottari/logger/model/UiEventType.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/util/DeeplinkHelper.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/common/custom/ExpandableFab.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/team/TeamBottariFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/team/TeamBottariViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/join/TeamBottariJoinDialog.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/join/TeamBottariJoinUiEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/join/TeamBottariJoinUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/join/TeamBottariJoinViewModel.kt
  android/Bottari/presentation/src/main/res/layout/dialog_team_bottari_join_.xml
  android/Bottari/presentation/src/main/res/layout/fragment_team_bottari.xml
  android/Bottari/presentation/src/main/res/values/attrs.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#419 [BE] 팀 보따리 멤버 추가 시 이벤트 발행 및 SSE 전송 기능 구현
  backend/bottari/src/main/java/com/bottari/sse/component/TeamBottariEventListener.java
  backend/bottari/src/main/java/com/bottari/sse/dto/CreateTeamMemberData.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/CreateTeamMemberEvent.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/TeamMemberService.java
Labels: ✨ Feature, 💻 BackEnd

#441 [AN] 팀 보따리 담당 물건 수정 기능 구현
  android/Bottari/data/src/main/java/com/bottari/data/model/team/SaveTeamBottariAssignedItemRequest.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/TeamBottariRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/TeamBottariService.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/TeamBottariRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/TeamBottariRemoteDataSourceImpl.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/TeamBottariRepositoryImplTest.kt
  android/Bottari/data/src/test/java/com/bottari/data/testFixture/BottariFixture.kt
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/TeamBottariRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/team/SaveTeamBottariAssignedItemUseCase.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/extension/KeyboardExtension.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/BottariItemUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/assigned/TeamAssignedItemEditEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/assigned/TeamAssignedItemEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/assigned/TeamAssignedItemEditUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/assigned/TeamAssignedItemEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/assigned/adapter/TeamAssignedItemEditAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/assigned/adapter/TeamAssignedItemEditMemberAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/assigned/adapter/TeamAssignedItemEditViewHolder.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/main/TeamItemEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/main/TeamItemEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/personal/TeamPersonalItemEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/shared/TeamSharedItemEditEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/shared/TeamSharedItemEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/shared/TeamSharedItemEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/main/TeamBottariEditFragment.kt
  android/Bottari/presentation/src/main/res/layout/view_bottari_item_edit.xml
Labels: ✨ Feature, 🤖 Android

#444 [AN] 체크리스트 내용이 같아도 변경 다이얼로그가 뜨는 오류 수정
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/personal/ChecklistUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/personal/ChecklistViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/status/TeamBottariStatusFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/item/PersonalItemEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/item/PersonalItemEditUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/item/PersonalItemEditViewModel.kt
  android/Bottari/presentation/src/main/res/layout/activity_team_checklist.xml
  android/Bottari/presentation/src/main/res/layout/fragment_team_status.xml
  android/Bottari/presentation/src/main/res/layout/item_checklist_mini.xml
  android/Bottari/presentation/src/main/res/values/font_style.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: 🐞 BugFix, 🤖 Android

#438 [BE] 운영 서버 배포 파일(*.jar) 백업 및 롤백 구현
  .github/workflows/deploy-prod-backup-to-latest-version.yml
  .github/workflows/deploy-prod-server.yml
Labels: 🌏 Deploy, 💻 BackEnd

#449 [AN] 버전 업데이트 (1.0.4 -> 1.2.0)
  android/Bottari/app/build.gradle.kts
Labels: 🤖 Android

#454 [BE] 롤백 시 firebase 설정 누락으로 발생하는 에러 해결 및 운영 서버 배포 시 backup 디렉터리의 jar가 실행되는 문제 해결
  .github/workflows/deploy-prod-backup-to-latest-version.yml
  .github/workflows/deploy-prod-server.yml
Labels: 🌏 Deploy, 🐞 BugFix, 💻 BackEnd

#467 [AN] 보채기 알람에서 담당 물품 알림이 전송되지 않는 문제 수정
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/status/TeamBottariStatusViewModel.kt
Labels: 🐞 BugFix, 🤖 Android

#463 [AN] SSE 클라이언트 구현
  android/Bottari/data/src/main/java/com/bottari/data/common/util/LocalDateTimeSerializer.kt
  android/Bottari/data/src/main/java/com/bottari/data/mapper/EventMapper.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/sse/EventDataResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/sse/EventResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/sse/EventStateResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/sse/OnEventRaw.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/sse/ResourceResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/network/SSEClient.kt
  android/Bottari/data/src/main/java/com/bottari/data/network/SSEClientImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/EventRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/EventRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/EventRemoteDataSourceImpl.kt
  android/Bottari/di/src/main/java/com/bottari/di/DataSourceProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/NetworkProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/RepositoryProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/event/EventData.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/event/EventState.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/EventRepository.kt
  android/Bottari/gradle/libs.versions.toml
Labels: ✨ Feature, 🤖 Android

#462 [AN] 선택적 팀원 보채기 미노출
  android/Bottari/data/src/main/java/com/bottari/data/network/interceptor/AuthInterceptor.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/MemberRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/local/MemberIdentifierLocalDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/local/MemberIdentifierLocalDataSourceImpl.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/MemberRepositoryImplTest.kt
  android/Bottari/di/src/main/java/com/bottari/di/DataSourceProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/MemberRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/member/GetInstallationIdUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/member/GetMemberIdUseCase.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/mapper/TeamMembersMapper.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/TeamMemberStatusUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/TeamProductStatusItem.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/member/TeamMembersStatusFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/member/TeamMembersStatusUiEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/member/TeamMembersStatusUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/member/TeamMembersStatusViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/member/adapter/TeamMemberStatusViewHolder.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/status/TeamBottariStatusFragment.kt
  android/Bottari/presentation/src/main/res/layout/fragment_team_status.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#455 [AN] 설정 화면 제거 및 더보기 화면으로 통합
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/HomeActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/more/MoreFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/more/MoreUiEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/more/MoreUiState.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/more/MoreViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/profile/ProfileUiEvent.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/setting/SettingActivity.kt
  android/Bottari/presentation/src/main/res/layout/activity_home.xml
  android/Bottari/presentation/src/main/res/layout/activity_setting.xml
  android/Bottari/presentation/src/main/res/layout/fragment_more.xml
Labels: ✨ Feature, 🤖 Android

#477 [AN] 우리 보따리 SSE 적용
  android/Bottari/data/src/main/java/com/bottari/data/network/SSEClientImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/EventRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/EventRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/EventRemoteDataSourceImpl.kt
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/EventRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/event/ConnectTeamEventUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/event/DisconnectTeamEventUseCase.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/TeamMemberStatusUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/checklist/TeamChecklistViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/member/TeamMembersStatusFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/member/TeamMembersStatusViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/member/adapter/TeamMemberStatusAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/member/adapter/TeamMemberStatusViewHolder.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/team/main/status/TeamBottariStatusViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/assigned/TeamAssignedItemEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/item/shared/TeamSharedItemEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/main/TeamBottariEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/management/TeamManagementViewModel.kt
  android/Bottari/presentation/src/test/java/com/bottari/presentation/view/edit/team/main/TeamBottariEditViewModelTest.kt
  android/Bottari/presentation/src/test/java/com/bottari/presentation/view/edit/team/management/TeamManagementViewModelTest.kt
Labels: ✨ Feature, 🤖 Android

#486 [BE] 팀 보따리 나갈 시, 예외 수정
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamAssignedItemInfoRepository.java
  backend/bottari/src/main/java/com/bottari/teambottari/repository/TeamAssignedItemRepository.java
Labels: 🐞 BugFix, 💻 BackEnd

#482 [AN] 멤버 보채기 알림 수신 시 타입 불일치 문제 수정
  android/Bottari/presentation/src/main/java/com/bottari/presentation/service/fcm/ReminderMessagingService.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/util/NotificationHelper.kt
Labels: 🐞 BugFix, 🤖 Android

#492 [BE] 팀 보따리 탈퇴 시 알림 및 SSE 알림 기능 추가
  backend/bottari/src/main/java/com/bottari/fcm/FcmMessageConverter.java
  backend/bottari/src/main/java/com/bottari/fcm/dto/MessageType.java
  backend/bottari/src/main/java/com/bottari/sse/component/SseService.java
  backend/bottari/src/main/java/com/bottari/sse/component/TeamBottariEventListener.java
  backend/bottari/src/main/java/com/bottari/sse/dto/ConnectSuccessData.java
  backend/bottari/src/main/java/com/bottari/sse/dto/ExitTeamMemberData.java
  backend/bottari/src/main/java/com/bottari/teambottari/event/ExitTeamMemberEvent.java
  backend/bottari/src/main/java/com/bottari/teambottari/service/TeamBottariService.java
  backend/bottari/src/test/java/com/bottari/teambottari/service/TeamBottariServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#497 [AN] 팀 보따리 나가기 SSE 이벤트 및 FCM Type 추가
  android/Bottari/data/build.gradle.kts
  android/Bottari/data/src/main/java/com/bottari/data/model/sse/EventDataResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/sse/OnEventRaw.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/event/EventData.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/service/fcm/FcmMessage.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/service/fcm/ReminderMessagingService.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/util/NotificationHelper.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/team/management/TeamManagementViewModel.kt
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android
