Repository woowacourse-teams/2025-bottari, pull requests merged in 2025-07, with the labels that each got.

#5 [BE] 사용자 등록 기능 구현
  backend/bottari/src/main/java/com/bottari/controller/MemberController.java
  backend/bottari/src/main/java/com/bottari/domain/Member.java
  backend/bottari/src/main/java/com/bottari/dto/CreateMemberRequest.java
  backend/bottari/src/main/java/com/bottari/repository/MemberRepository.java
  backend/bottari/src/main/java/com/bottari/service/MemberService.java
  backend/bottari/src/test/java/com/bottari/controller/MemberControllerTest.java
  backend/bottari/src/test/java/com/bottari/domain/MemberTest.java
  backend/bottari/src/test/java/com/bottari/service/MemberServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#14 [AN] Android CI 설정
  .github/workflows/android-ci.yaml
  android/Bottari/app/build.gradle.kts
  android/Bottari/app/src/androidTest/java/com/bottari/bottari/ExampleInstrumentedTest.kt
  android/Bottari/app/src/main/java/com/bottari/bottari/MainActivity.kt
  android/Bottari/app/src/test/java/com/bottari/bottari/ExampleUnitTest.kt
  android/Bottari/build.gradle.kts
  android/Bottari/data/build.gradle.kts
  android/Bottari/data/src/androidTest/java/com/bottari/data/ExampleInstrumentedTest.kt
  android/Bottari/data/src/test/java/com/bottari/data/ExampleUnitTest.kt
  android/Bottari/di/build.gradle.kts
  android/Bottari/di/src/androidTest/java/com/bottari/di/ExampleInstrumentedTest.kt
  android/Bottari/di/src/test/java/com/bottari/di/ExampleUnitTest.kt
  android/Bottari/gradle/libs.versions.toml
  android/Bottari/presentation/build.gradle.kts
  android/Bottari/presentation/src/androidTest/java/com/bottari/presentation/ExampleInstrumentedTest.kt
  android/Bottari/presentation/src/test/java/com/bottari/presentation/ExampleUnitTest.kt
Labels: ⚙ Setting, 🤖 Android

#22 [AN] Presentation Base 코드 작성
  android/Bottari/presentation/src/main/java/com/bottari/presentation/base/BaseActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/base/BaseFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/base/UiState.kt
Labels: ✨ Feature, 🤖 Android

#27 [BE] 보따리 체크리스트 조회 기능 구현
  backend/bottari/src/main/java/com/bottari/controller/BottariItemController.java
  backend/bottari/src/main/java/com/bottari/dto/ReadBottariItemResponse.java
  backend/bottari/src/main/java/com/bottari/repository/BottariItemRepository.java
  backend/bottari/src/main/java/com/bottari/service/BottariItemService.java
  backend/bottari/src/test/java/com/bottari/controller/BottariItemControllerTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariItemServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#30 [ALL] 모든 브랜치 PR 병합 시 관련 이슈 자동 닫기 기능 구현
  .github/workflows/auto-close-issues-on-pr-merge.yaml
Labels: 📃 Docs, ✨ Feature

#32 [AN] 나의 보따리 화면 구현
  android/Bottari/gradle/libs.versions.toml
  android/Bottari/presentation/build.gradle.kts
  android/Bottari/presentation/src/main/java/com/bottari/presentation/base/BaseActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/extension/DateTimeExtension.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/extension/ViewExtension.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/AlarmTypeUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/BottariUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/HomeActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/BottariFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/BottariViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/adapter/BottariAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/adapter/BottariViewHolder.kt
  android/Bottari/presentation/src/main/res/drawable/bg_black_radius_12dp.xml
  android/Bottari/presentation/src/main/res/drawable/bg_primary_oval.xml
  android/Bottari/presentation/src/main/res/drawable/bg_progress_bottari.xml
  android/Bottari/presentation/src/main/res/layout/activity_home.xml
  android/Bottari/presentation/src/main/res/layout/fragment_bottari.xml
  android/Bottari/presentation/src/main/res/layout/item_bottari.xml
  android/Bottari/presentation/src/main/res/values/font_style.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#43 [BE] 내 보따리 목록 조회 기능 구현
  backend/bottari/src/main/java/com/bottari/controller/BottariController.java
  backend/bottari/src/main/java/com/bottari/domain/Bottari.java
  backend/bottari/src/main/java/com/bottari/dto/AlarmResponse.java
  backend/bottari/src/main/java/com/bottari/dto/ReadBottariPreviewResponse.java
  backend/bottari/src/main/java/com/bottari/dto/ReadBottariResponse.java
  backend/bottari/src/main/java/com/bottari/repository/AlarmRepository.java
  backend/bottari/src/main/java/com/bottari/repository/BottariItemRepository.java
  backend/bottari/src/main/java/com/bottari/repository/BottariRepository.java
  backend/bottari/src/main/java/com/bottari/service/BottariService.java
  backend/bottari/src/test/java/com/bottari/controller/BottariControllerTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#54 [BE] 배포 자동화 파이프라인 구축
  .github/workflows/deploy-dev-server.yml
Labels: 🌏 Deploy, 💻 BackEnd

#48 [BE] 알람 생성 및 수정 기능 구현
  backend/bottari/src/main/java/com/bottari/controller/AlarmController.java
  backend/bottari/src/main/java/com/bottari/domain/Alarm.java
  backend/bottari/src/main/java/com/bottari/dto/CreateAlarmRequest.java
  backend/bottari/src/main/java/com/bottari/dto/UpdateAlarmRequest.java
  backend/bottari/src/main/java/com/bottari/service/AlarmService.java
  backend/bottari/src/test/java/com/bottari/controller/AlarmControllerTest.java
  backend/bottari/src/test/java/com/bottari/domain/AlarmTest.java
  backend/bottari/src/test/java/com/bottari/service/AlarmServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#46 [BE] 보따리 물품 일괄 추가 및 삭제 기능 구현
  backend/bottari/src/main/java/com/bottari/controller/BottariItemController.java
  backend/bottari/src/main/java/com/bottari/dto/EditBottariItemsRequest.java
  backend/bottari/src/main/java/com/bottari/repository/BottariItemRepository.java
  backend/bottari/src/main/java/com/bottari/service/BottariItemService.java
  backend/bottari/src/test/java/com/bottari/controller/BottariItemControllerTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariItemServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#58 [BE] API 문서화
  backend/bottari/build.gradle
  backend/bottari/src/main/java/com/bottari/config/SwaggerConfig.java
  backend/bottari/src/main/java/com/bottari/controller/AlarmController.java
  backend/bottari/src/main/java/com/bottari/controller/BottariController.java
  backend/bottari/src/main/java/com/bottari/controller/BottariItemController.java
  backend/bottari/src/main/java/com/bottari/controller/MemberController.java
  backend/bottari/src/main/java/com/bottari/controller/docs/AlarmApiDocs.java
  backend/bottari/src/main/java/com/bottari/controller/docs/BottariApiDocs.java
  backend/bottari/src/main/java/com/bottari/controller/docs/BottariItemApiDocs.java
  backend/bottari/src/main/java/com/bottari/controller/docs/MemberApiDocs.java
Labels: 📃 Docs, 💻 BackEnd

#67 [AN] 알람 설정 화면 구현
  android/Bottari/gradle/libs.versions.toml
  android/Bottari/presentation/build.gradle.kts
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/ItemSpacingDecoration.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/AlarmType.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/AlarmUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/DayOfWeekUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/alarm/AlarmEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/alarm/AlarmEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/alarm/adapter/DayOfWeekAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/alarm/adapter/DayOfWeekViewHolder.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/alarm/listener/OnDayOfWeekClickListener.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/PersonalBottariEditFragment.kt
  android/Bottari/presentation/src/main/res/drawable/bg_gray_oval.xml
  android/Bottari/presentation/src/main/res/drawable/bg_white_radius_12dp_gray_stroke.xml
  android/Bottari/presentation/src/main/res/drawable/btn_location.xml
  android/Bottari/presentation/src/main/res/layout/fragment_alarm_edit.xml
  android/Bottari/presentation/src/main/res/layout/fragment_personal_bottari_edit.xml
  android/Bottari/presentation/src/main/res/layout/item_day_of_week.xml
  android/Bottari/presentation/src/main/res/layout/layout_alarm_edit_time_picker.xml
  android/Bottari/presentation/src/main/res/values/colors.xml
  android/Bottari/presentation/src/main/res/values/dimens.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
  android/Bottari/presentation/src/main/res/values/styles.xml
Labels: ✨ Feature, 🤖 Android

#71 [BE] 보따리 템플릿 조회 기능 구현
  backend/bottari/src/main/java/com/bottari/config/JpaAuditingConfig.java
  backend/bottari/src/main/java/com/bottari/controller/BottariTemplateController.java
  backend/bottari/src/main/java/com/bottari/controller/docs/BottariTemplateApiDocs.java
  backend/bottari/src/main/java/com/bottari/domain/BottariTemplate.java
  backend/bottari/src/main/java/com/bottari/dto/ReadBottariTemplateResponse.java
  backend/bottari/src/main/java/com/bottari/repository/BottariTemplateItemRepository.java
  backend/bottari/src/main/java/com/bottari/repository/BottariTemplateRepository.java
  backend/bottari/src/main/java/com/bottari/service/BottariTemplateService.java
  backend/bottari/src/test/java/com/bottari/controller/BottariTemplateControllerTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariTemplateServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#70 [BE] 보따리 템플릿으로 보따리를 생성하는 기능 구현
  backend/bottari/src/main/java/com/bottari/controller/BottariTemplateController.java
  backend/bottari/src/main/java/com/bottari/controller/docs/BottariTemplateApiDocs.java
  backend/bottari/src/main/java/com/bottari/repository/BottariTemplateItemRepository.java
  backend/bottari/src/main/java/com/bottari/service/BottariTemplateService.java
  backend/bottari/src/test/java/com/bottari/controller/BottariTemplateControllerTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariTemplateServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#85 [ALL] PR 템플릿 가독성 개선
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 📃 Docs, 🌐 All

#83 [BE] SSAID로 회원가입 여부 및 사용자 이름 조회 기능 구현
  backend/bottari/src/main/java/com/bottari/controller/MemberController.java
  backend/bottari/src/main/java/com/bottari/controller/docs/MemberApiDocs.java
  backend/bottari/src/main/java/com/bottari/dto/CheckRegistrationResponse.java
  backend/bottari/src/main/java/com/bottari/service/MemberService.java
  backend/bottari/src/test/java/com/bottari/controller/MemberControllerTest.java
  backend/bottari/src/test/java/com/bottari/service/MemberServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#88 [BE] 개발 서버 DB 더미 데이터 추가
  backend/bottari/src/main/java/com/bottari/domain/RoutineAlarm.java
  backend/bottari/src/main/resources/application.yml
  backend/bottari/src/main/resources/data.sql
  backend/bottari/src/test/resources/application.yml
Labels: ⚙ Setting, ✅ Test, 💻 BackEnd

#90 [BE] 보따리 상세조회 및 목록 조회 시 알람 활성화 여부가 응답되지 않는 문제 수정
  backend/bottari/src/main/java/com/bottari/dto/AlarmResponse.java
  backend/bottari/src/test/java/com/bottari/service/BottariServiceTest.java
Labels: 🐞 BugFix, 💻 BackEnd

#91 [AN] PermissionUtil 구현
  android/Bottari/presentation/src/main/AndroidManifest.xml
  android/Bottari/presentation/src/main/java/com/bottari/presentation/util/permission/PermissionUtil.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/PersonalBottariEditFragment.kt
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#98 [BE] 전역 예외 핸들링 추가 및 예외 응답 구현
  backend/bottari/src/main/java/com/bottari/GlobalExceptionHandler.java
Labels: ✨ Feature, 💻 BackEnd

#99 [AN] 체크리스트 화면 API 연동 및 화면 전환 로직 개선
  android/Bottari/data/src/main/java/com/bottari/data/mapper/BottariItemMapper.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/item/FetchChecklistResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/BottariItemRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/BottariItemService.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/BottariItemRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/BottariItemRemoteDataSourceImpl.kt
  android/Bottari/di/src/main/java/com/bottari/di/DataSourceProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/RepositoryProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/ServiceProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/BottariItemRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/item/CheckBottariItemUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/item/FetchChecklistUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/item/UnCheckBottariItemUseCase.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/mapper/BottariMapper.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/ChecklistActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/ChecklistViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/main/MainChecklistFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/swipe/SwipeChecklistFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/BottariFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/adapter/BottariViewHolder.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/listener/OnBottariClickListener.kt
Labels: ✨ Feature, 🤖 Android

#103 [AN] 마켓플레이스 화면 구현
  android/Bottari/data/src/main/java/com/bottari/data/mapper/BottariTemplateMapper.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/template/BottariTemplateItemResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/template/FetchBottariTemplateResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/BottariTemplateRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/BottariTemplateService.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/BottariTemplateRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/BottariTemplateRemoteDataSourceImpl.kt
  android/Bottari/di/src/main/java/com/bottari/di/DataSourceProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/RepositoryProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/ServiceProvider.kt
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/template/BottariTemplate.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/template/BottariTemplateItem.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/BottariTemplateRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/template/FetchBottariTemplatesUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/template/SearchBottariTemplatesUseCase.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/mapper/BottariTemplateMapper.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/BottariTemplateItemUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/BottariTemplateUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/util/Debounce.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/market/MarketFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/market/MarketViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/market/adapter/MarketAdapter.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/market/adapter/MarketViewHolder.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/market/listener/OnBottariTemplateClickListener.kt
  android/Bottari/presentation/src/main/res/drawable/bg_gray_radius_20dp.xml
  android/Bottari/presentation/src/main/res/layout/fragment_market.xml
  android/Bottari/presentation/src/main/res/layout/item_bottari_template.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#106 [AN] 설정 화면 구현
  android/Bottari/presentation/build.gradle.kts
  android/Bottari/presentation/src/main/AndroidManifest.xml
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/checklist/ChecklistActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/HomeActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/setting/SettingActivity.kt
  android/Bottari/presentation/src/main/res/layout/activity_home.xml
  android/Bottari/presentation/src/main/res/layout/activity_setting.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 Android

#108 [AN] 개인 보따리 물건 편집 화면 API 연동
  android/Bottari/data/src/main/java/com/bottari/data/model/item/SaveBottariItemsRequest.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/BottariItemRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/BottariItemService.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/BottariService.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/BottariItemRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/BottariItemRemoteDataSourceImpl.kt
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/BottariItemRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/item/SaveBottariItemsUseCase.kt
  android/Bottari/presentation/build.gradle.kts
  android/Bottari/presentation/src/main/java/com/bottari/presentation/extension/ParcelableExtension.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/AlarmUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/BottariDetailUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/BottariItemUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/DayOfWeekUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/model/LocationAlarmUiModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/item/PersonalItemEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/item/PersonalItemEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/PersonalBottariEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/PersonalBottariEditViewModel.kt
Labels: ✨ Feature, 🤖 Android

#116 [AN] 내 보따리 마켓 등록 기능 구현
  android/Bottari/data/src/main/java/com/bottari/data/model/template/CreateBottariTemplateRequest.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/BottariRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/BottariTemplateRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/BottariTemplateService.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/BottariRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/BottariRemoteDataSourceImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/BottariTemplateRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/BottariTemplateRemoteDataSourceImpl.kt
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/BottariRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/BottariTemplateRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/bottari/CreateBottariUseCase.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/template/CreateBottariTemplateUseCase.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/PersonalBottariEditFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/main/PersonalBottariEditViewModel.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/create/BottariCreateDialog.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/create/BottariCreateViewModel.kt
  android/Bottari/presentation/src/main/res/layout/fragment_market.xml
  android/Bottari/presentation/src/main/res/menu/personal_bottari_edit_popup_menu.xml
  android/Bottari/presentation/src/main/res/values/strings.xml
  android/Bottari/presentation/src/main/res/values/styles.xml
Labels: ✨ Feature, 🤖 Android

#119 [AN] 사용자 조회 API 연동
  android/Bottari/app/src/main/java/com/bottari/bottari/view/MainActivity.kt
  android/Bottari/app/src/main/java/com/bottari/bottari/view/MainViewModel.kt
  android/Bottari/data/src/main/java/com/bottari/data/mapper/MemberMapper.kt
  android/Bottari/data/src/main/java/com/bottari/data/model/member/CheckRegisteredMemberResponse.kt
  android/Bottari/data/src/main/java/com/bottari/data/repository/MemberRepositoryImpl.kt
  android/Bottari/data/src/main/java/com/bottari/data/service/MemberService.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/MemberRemoteDataSource.kt
  android/Bottari/data/src/main/java/com/bottari/data/source/remote/MemberRemoteDataSourceImpl.kt
  android/Bottari/di/src/main/java/com/bottari/di/UseCaseProvider.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/member/RegisteredMember.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/MemberRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/member/CheckRegisteredMemberUseCase.kt
Labels: ✨ Feature, 🤖 Android

#123 [AN] 시스템 네비게이션 하단 패딩 문제 해결
  android/Bottari/presentation/src/main/java/com/bottari/presentation/base/BaseActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/base/BaseFragment.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/edit/personal/item/PersonalItemEditFragment.kt
Labels: 🐞 BugFix, 🤖 Android

#126 [AN] UI 개선
  android/Bottari/app/src/main/res/values-night/themes.xml
  android/Bottari/app/src/main/res/values/themes.xml
  android/Bottari/presentation/src/main/java/com/bottari/presentation/base/BaseActivity.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/create/BottariCreateDialog.kt
  android/Bottari/presentation/src/main/res/layout/fragment_bottari.xml
  android/Bottari/presentation/src/main/res/layout/item_bottari.xml
  android/Bottari/presentation/src/main/res/layout/item_bottari_template.xml
  android/Bottari/presentation/src/main/res/layout/item_checklist.xml
  android/Bottari/presentation/src/main/res/layout/item_edit_personal_item.xml
  android/Bottari/presentation/src/main/res/layout/item_market_bottari_detail_item.xml
Labels: 🎨 Style, 🤖 Android

#132 [AN] RecycleView 하단의 FadingEdge가 보이는 문제
  android/Bottari/presentation/src/main/java/com/bottari/presentation/common/BottomPaddingDecoration.kt
  android/Bottari/presentation/src/main/java/com/bottari/presentation/view/home/bottari/BottariFragment.kt
  android/Bottari/presentation/src/main/res/layout/fragment_bottari.xml
Labels: 🐞 BugFix, 🤖 Android

#138 [BE] 배포 파이프라인 시연을 위한 작업 롤백
  backend/bottari/src/main/java/com/bottari/service/BottariService.java
  backend/bottari/src/test/java/com/bottari/service/BottariServiceTest.java
Labels: ✅ Test, 💻 BackEnd

#150 [BE] 사용자 이름 변경 기능 구현
  backend/bottari/src/main/java/com/bottari/controller/MemberController.java
  backend/bottari/src/main/java/com/bottari/controller/docs/MemberApiDocs.java
  backend/bottari/src/main/java/com/bottari/domain/Member.java
  backend/bottari/src/main/java/com/bottari/dto/UpdateMemberRequest.java
  backend/bottari/src/main/java/com/bottari/repository/MemberRepository.java
  backend/bottari/src/main/java/com/bottari/service/MemberService.java
  backend/bottari/src/test/java/com/bottari/controller/MemberControllerTest.java
  backend/bottari/src/test/java/com/bottari/domain/MemberTest.java
  backend/bottari/src/test/java/com/bottari/service/MemberServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#129 [AN] 도메인 레포지토리 테스트 코드 작성
  android/Bottari/data/build.gradle.kts
  android/Bottari/data/src/test/java/com/bottari/data/repository/AlarmRepositoryImplTest.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/BottariItemRepositoryImplTest.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/BottariRepositoryImplTest.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/BottariTemplateRepositoryImplTest.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/ExampleUnitTest.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/MemberRepositoryImplTest.kt
  android/Bottari/data/src/test/java/com/bottari/data/testFixture/BottariFixture.kt
  android/Bottari/data/src/test/java/com/bottari/data/testFixture/BottariTemplateResponseListFixture.kt
  android/Bottari/data/src/test/java/com/bottari/data/testFixture/ChecklistResponseListFixture.kt
  android/Bottari/data/src/test/java/com/bottari/data/testFixture/MemberFixture.kt
  android/Bottari/gradle/libs.versions.toml
Labels: ✅ Test, 🤖 Android

#154 [BE] 보따리 삭제 기능
  backend/bottari/src/main/java/com/bottari/controller/BottariController.java
  backend/bottari/src/main/java/com/bottari/controller/docs/BottariApiDocs.java
  backend/bottari/src/main/java/com/bottari/repository/AlarmRepository.java
  backend/bottari/src/main/java/com/bottari/repository/BottariItemRepository.java
  backend/bottari/src/main/java/com/bottari/repository/BottariRepository.java
  backend/bottari/src/main/java/com/bottari/service/BottariService.java
  backend/bottari/src/test/java/com/bottari/controller/BottariControllerTest.java
  backend/bottari/src/test/java/com/bottari/service/BottariServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#163 [BE] 사용자 등록 흐름 변경
  backend/bottari/build.gradle
  backend/bottari/src/main/java/com/bottari/config/RetryConfig.java
  backend/bottari/src/main/java/com/bottari/dto/CreateMemberRequest.java
  backend/bottari/src/main/java/com/bottari/service/MemberService.java
  backend/bottari/src/test/java/com/bottari/controller/MemberControllerTest.java
  backend/bottari/src/test/java/com/bottari/service/MemberServiceTest.java
Labels: ✨ Feature, 💻 BackEnd

#173 [AN] 최초 등록 시 Member 객체에서 예외가 발생하는 문제 해결
  android/Bottari/data/src/main/java/com/bottari/data/repository/MemberRepositoryImpl.kt
  android/Bottari/data/src/test/java/com/bottari/data/repository/MemberRepositoryImplTest.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/model/member/Member.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/repository/MemberRepository.kt
  android/Bottari/domain/src/main/java/com/bottari/domain/usecase/member/RegisterMemberUseCase.kt
Labels: 🐞 BugFix, 🤖 Android

#185 [BE] 헬스 체크 기능 추가
  backend/bottari/src/main/java/com/bottari/controller/HealthCheckController.java
  backend/bottari/src/main/java/com/bottari/controller/docs/HealthCheckApiDocs.java
  backend/bottari/src/test/java/com/bottari/controller/HealthCheckControllerTest.java
Labels: ✨ Feature, 💻 BackEnd
